<div class="container footer">
	<div class="content">
		<div class="row">
			<div class="span11">
				<p>
                                  <a href="http://github.com/rhaamo/blusteromatic">
                                  <%= t 'footer.running',
                                  :version => "v0.1 rev
                                  #{BLUSTEROMATIC_VERSION}" %>
                                  </a>
                                  <br />
                                </p>
			</div>
			<div class="span1">
				<%= link_to "http://rubyonrails.org/", :target => "_blank" do %>
				<%= image_tag "rails.png", :alt => "Rails powered !" %>
				<% end %>
			</div>
		</div>
	</div>
</div>
